.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/
/_freeze/

slides/*.pdf
slides/*.html
slides/**/*_cache/*
projects/*.zip

# caching stuff
**/*_cache/*

/.luarc.json
/_targets/*

typst-pdf-stuff/*.pdf

**/*.quarto_ipynb

# Large external datasets
files/data/external_data/Rat_Sightings.csv
